<%= form_with model: bank_account, local: true do |f| %>
  <div><label>Bank</label> <%= f.text_field :bank_name, required: true %></div>
  <div><label>Account #</label> <%= f.text_field :account_number, required: true %></div>
  <div><label>Currency</label> <%= f.text_field :currency, value: (bank_account.currency || "MXN") %></div>
  <div><label>Opening balance</label> <%= f.number_field :opening_balance, step: "0.01", value: (bank_account.opening_balance || 0.0) %></div>
  <button type="submit">Save</button>
<% end %>
